
	<div class="row" >

	
		  <div class="col-xs-12 col-md-6">
		  
				
			<button (click)="paypalConfiguration()" class="btn btn-success" style ="width:100%">
			<a [routerLink]="['/add-paypal']" style = "text-align: center;color:white;">Paypal Configuration</a>
			</button>

				
		  </div>
		  
		    <div class="col-xs-12 col-md-6">
		  
		

			<button (click)="stripeConfiguration()" class="btn btn-success" style ="width:100%">
			<a [routerLink]="['/add-stripe']" style = "text-align: center;color:white;">Stripe Configuration</a>
			</button>

			
				
		  </div>
		  
		  
		      <div class="col-xs-12 col-md-6" style ="padding-top:20px;">
		  
		

			<button (click)="cityConfiguration()" class="btn btn-success" style ="width:100%">
			<a [routerLink]="['/add-city']" style = "text-align: center;color:white;">City Configuration</a>
			</button>

		
				
		  </div>
		  
		       <div class="col-xs-12 col-md-6" style ="padding-top:20px;">
		  

			<button (click)="districtConfiguration()" class="btn btn-success" style ="width:100%">
			<a [routerLink]="['/add-district']" style = "text-align: center;color:white;">District Configuration</a>
			</button>
				
		  </div>
		  
		        <div class="col-xs-12 col-md-6" style ="padding-top:20px;">
		  

			<button (click)="streetConfiguration()" class="btn btn-success" style ="width:100%">
			<a [routerLink]="['/add-street']" style = "text-align: center;color:white;">Street Configuration</a>
			</button>
				
		  </div>
		  
		        <div class="col-xs-12 col-md-6" style ="padding-top:20px;">
		  

			<button (click)="buildingConfiguration()" class="btn btn-success" style ="width:100%">
			<a [routerLink]="['/add-building']" style = "text-align: center;color:white;">Building Configuration</a>
			</button>
				
		  </div>
	</div>
		
			
				
