

<ul class = "list-group">

	
	<form id = "filter">
	
	
		<input type = "text" [(ngModel)]="term" name ="term"/>
		<label>SEARCH BY RESTAURANT NAME: </label>
	
		
	</form>
	
	

	<div class="row" >
	
	
		  <div class="col-xs-12 col-md-3" *ngFor="let restaurant of restaurants | filterRestaurant:term">
		  
			
				
				<a [routerLink]="['/restaurant-details/'+restaurant.$key]" style = "text-align: center;"><h4>{{restaurant.title}}</h4></a>
				
				
				<img style="width:100%;height:150px;" class="thumbnail" src="{{restaurant.firebase_url}}">
				
				
			
		  </div>
	</div>

<!---
	<li class = "list-group-item" *ngFor="let restaurant of restaurants">
		<a [routerLink]="['/restaurant-details/'+restaurant.$key]">{{restaurant.title}}</a>
	</li>
	
-->	
</ul>

